<th>
  Guest name
</th>
<th ng-repeat="choice in poll.choices | filter:ignored | orderBy:'order'">
  <p ng-show="hasLink(choice)"><a href="{{ choice.url }}">{{ choice.name }}</a></p>
  <p ng-hide="hasLink(choice)">{{ choice.name }}</p>
  <p ng-show="hasStarRating(choice) || hasPriceRating(choice)">
    <a ng-show="hasGLink(choice)" href="{{ choice.gurl }}">
      <google-ratings></google-ratings>
    </a>
    <span ng-hide="hasGLink(choice)">
      <google-ratings></google-ratings>
    </span>
  </p>
  <p ng-hide="hasStarRating(choice) || hasPriceRating(choice)">
    <a ng-show="hasGLink(choice)" href="{{ choice.gurl }}">
      View on Google+
    </a>
  </p>
  <small>{{ choice.address }}</small>
</th>