extends auth

block auth
  .well
    form.signup.form-horizontal(action="/users", method="post", role="form")
      .form-group
        label.col-sm-2.control-label(for='name') Full name
        .col-sm-10
          input.form-control#name(type='text', name="name", placeholder='Full name', value=user.name)

      .form-group
        label.col-sm-2.control-label(for='email') Email
        .col-sm-10
          input.form-control#email(type='text', name="email", placeholder='Email', value=user.email)

      .form-group
        label.col-sm-2.control-label(for='username') Username
        .col-sm-10
          input.form-control#username(type='text', name="username", placeholder='Username', value=user.username)

      .form-group
        label.col-sm-2.control-label(for='password') Password
        .col-sm-10
          input.form-control#password(type='password', name="password", placeholder='Password')

      .form-actions
        .col-sm-2 
        button.btn.btn-primary(type='submit') Sign up
        &nbsp;
        | or&nbsp;
        a.show-login(href="/signin") login
