<section class="container" data-ng-controller="PollsController">
  <div class="well">
    <form name="createPoll" class="form-horizontal" role="form" confirm-on-exit>
      <div class="form-group">
        <label class="col-sm-2 control-label" for="name">Name</label>
        <div class="col-sm-10">
          <input class="form-control" type="text" data-ng-model="name" id="name" placeholder="Name" required>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label" for="eventDate">Event Date</label>
        <div class="col-sm-9 input-group">
          <span class="input-group-btn">
            <input class="form-control" type="text" id="eventDate" ng-model="eventDate" data-date-format="MM dd, yyyy" bs-datepicker>
            <button type="button" class="btn btn-info" data-toggle="datepicker"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label" for="eventTime">Event Time</label>
        <div class="col-sm-2">
          <div class="col-sm-2" ng-model="eventTime">
            <timepicker hour-step="1" minute-step="15"></timepicker>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label" for="location">Location</label>
        <div class="col-sm-10">
          <input class="form-control" id="location" type="text" size="50">
        </div>
      </div>

      <div class="form-group" data-ng-repeat="choice in choices">
        <label class="col-sm-2 control-label" for="choice" ng-show="showChoiceLabel(choice)">Choices</label>
        <div class="col-sm-2">
          <button ng-show="showAddChoice(choice)" ng-click="addNewChoice()" class="btn btn-info">Add another choice</button>
        </div>
        <div class="col-sm-10 controls" >
          <poll-choice></poll-choice>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
          <input type="submit" data-ng-click="create()" class="btn btn-success">
        </div>
      </div>
    </form>
  </div>
</section>