<section data-ng-controller="PollsController">
  <form class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="name">Name</label>
      <div class="controls">
        <input type="text" data-ng-model="name" id="name" placeholder="Name" required>
      </div>
      <div class="controls">
        <!-- <input type="text" datepicker-popup="MMMM dd, yyyy" ng-model="eventDate" is-open="dateOpened" min="minDate" show-weeks="false" datepicker-options="dateOptions">
        <button class="btn" ng-click="openDate()"><i class="icon-calendar"></i></button> -->
        <input type="text" ng-model="eventDate" data-date-format="MM dd, yyyy" bs-datepicker>
        <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
      </div>
      <div class="controls">
        <div ng-model="eventTime" class="well well-small">
          <timepicker hour-step="1" minute-step="15"></timepicker>
        </div>
        <!-- <input type="text" ng-model="eventTime" bs-timepicker>
        <button type="button" class="btn" data-toggle="timepicker"><i class="icon-time"></i></button> -->
      </div>
      <div class="controls">
        <input id="location" type="text" size="50">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="choice">Choices</label>
      <div class="controls" data-ng-repeat="choice in choices">
        <poll-choice></poll-choice>
      </div>
    <button ng-click="addNewChoice()" class="btn">Add</button>
    </div>

    <div class="control-group">
      <div class="controls">
        <input type="submit" data-ng-click="create()" class="btn">
      </div>
    </div>
  </form>
</section>