<section data-ng-controller="PollsController">
  <form class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="name">Name</label>
      <div class="controls">
        <input type="text" data-ng-model="name" id="name" placeholder="Name" required>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="choice">Choices</label>
      <div class="controls" ng-repeat="choice in choices">
        <input type="text" id="{{choice.id}}" placeholder="Your choice">
      </div>
    <button ng-click="addNewChoice()" class="btn">Add</button>
    </div>

    <div class="control-group">
      <div class="controls">
        <input type="submit" data-ng-click="create()" class="btn">
      </div>
    </div>
  </form>
</section>