<section data-ng-controller="PollsController" data-ng-init="findOneAndStopRefresh()">
  <form class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="name">Name</label>
      <div class="controls">
        <input type="text" data-ng-model="poll.name" id="name" placeholder="Name" required>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="choice">Choices</label>
      <div class="controls" data-ng-repeat="choice in poll.choices | filter:ignored">
        <poll-choice></poll-choice>
      </div>
    <button ng-click="addNewChoiceToExisting()" class="btn">Add</button>
    </div>

    <div class="control-group">
      <div class="controls">
        <input type="submit" data-ng-click="update()" class="btn">
      </div>
    </div>
  </form>
</section>