<section data-ng-controller="PollsController" data-ng-init="findOne()">
 
      
    </tr>
  </tbody>
</table>

<div class="panel panel-default">
  <div class="panel-heading">
    {{poll.name}} <a data-ng-show="global.user._id == poll.owner._id" href="/#!/polls/{{poll._id}}/edit">edit</a>
  </div>
  <div class="panel-body">
    <p>Poll created by {{poll.owner.name}} on {{poll.created | date:'medium'}}</p>
  </div>

  <table class="table">
    <thead>
      <th>
        Guest name
      </th>
      <th ng-repeat="choice in poll.choices | orderBy:'order'">
        {{ choice.name }}
      </th>
    </thead>
    <tbody>
      <vote-row ng-repeat="invitee in poll.invitees | orderBy:'invited'"></vote-row>
    </tbody>
  </table>
</div>
</section>