<section data-ng-controller="PollsController" data-ng-init="findOneAndRefresh()">
 
      
    </tr>
  </tbody>
</table>

<div class="panel panel-default">
  <div class="panel-heading">
    {{poll.name}} <a data-ng-show="global.user._id == poll.owner._id" href="/#!/polls/{{poll._id}}/edit">edit</a>
  </div>
  <div class="panel-body">
    <p>{{ poll.eventDate | date:'EEEE, MMMM d, yyyy h:mm a' }}</p>
    <p>Poll created by {{poll.owner.name}} on {{poll.created | date:'EEEE, MMMM d, yyyy h:mm a'}}</p>
  </div>

  <table class="table">
    <thead>
      <th>
        Guest name
      </th>
      <th ng-repeat="choice in poll.choices | filter:ignored | orderBy:'order'">
        {{ choice.name }}
      </th>
    </thead>
    <tfoot>
      <tr><td>Total</td>
        <td ng-repeat="choice in poll.choices | filter:ignored | orderBy:'order'"> {{ talliedVotes[choice._id] }}</td>
      </tr>
    </tfoot>
    <tbody>
      <tr vote-row ng-repeat="invitee in poll.invitees | orderBy:'invited'"></tr>
      <tr data-ng-show="!isParticipant"><td><input type="text" name="guest" ng-model="guestVotes.name" data-ng-show="global.user._id == null" placeholder="Your name">{{ global.user.name }}</td>
        <td ng-repeat="choice in poll.choices | filter:ignored | orderBy:'order'">
          <vote-checkbox-guest></vote-checkbox-guest>
        </td>
      </tr>
    </tbody>
  </table>
  <button data-ng-show="!isParticipant" ng-click="createGuestVotes()" class="btn">Vote</button>
</div>
</section>
